In [1]:
# Imports
from Bio import Entrez, SeqIO
import pandas as pd
import sqlite3

In [2]:
# Define Entrez arguments
Entrez.email = 'jessica.wu@berkeley.edu'
organisms = ['escherichia e. coli', 'drosophila melanogaster fruit fly', 'homo sapiens human']
enzyme_dict = {'glycolysis': ['phosphoglucomutase','aldose 1-epimerase', 'phosphofructokinase', 'phosphopyruvate hydratase'],
           'citric acid cycle': ['succinate dehydrogenase', 'aconitase', 'dihydrolipoyllysine-residue acetyltransferase', 'citrate synthase'],
           'pentose phophate pathway': ['glucose-6-phosphate isomerase','transketolase', 'malate dehydrogenase', 'phosphogluconolactonase']}

In [3]:
def parse_gene_fields(query):
    # Get name, ID, organism, chr, start and end fields from gene database
    gene_handle = Entrez.esearch(db='gene', term=query, sort='relevance')
    i = Entrez.read(gene_handle)['IdList'][0]    # only fetch most relevant result
    xml_handle = Entrez.efetch(db='gene', id=i, rettype='', retmode='xml')
    
    # Parse XML
    records = Entrez.parse(xml_handle)
    for record in records:
        geneid = record['Entrezgene_track-info']['Gene-track']['Gene-track_geneid']    # gene ID
        organism_name = record['Entrezgene_source']['BioSource']['BioSource_org']['Org-ref']['Org-ref_taxname']   # organism name
        locus_info = record['Entrezgene_locus'][0]
        pos_info = locus_info['Gene-commentary_seqs'][0]['Seq-loc_int']['Seq-interval']
        start_pos = pos_info['Seq-interval_from']     # start pos
        end_pos = pos_info['Seq-interval_to']         # end pos

    return(geneid, organism_name, start_pos, end_pos)

In [4]:
def parse_sequence(enzyme_name, organism_name, start_pos, end_pos):
    # Get sequence field from nucleotide database (might not match data from gene database)
    query = enzyme_name + ' ' + organism_name
    nt_handle = Entrez.esearch(db='nucleotide', term=query, sort='relevance')
    i = Entrez.read(nt_handle)['IdList'][0]   # only fetch most relevant result
    fasta_handle = Entrez.efetch(db='nucleotide', id=i, rettype='fasta', retmode='text')

    # Parse FASTA
    for record in SeqIO.parse(fasta_handle, "fasta"):
        record_str = str(record)
        if 'complete' or 'whole' or 'chromosome' in record_str:
            sequence = record.seq[start_pos:end_pos]    # this probably gets the wrong region
        else:
            sequence = record.seq

    return(sequence)

In [5]:
# Fetch query items from Entrez (gene and nucleotide databases) and parse out gene table fields
gene_entries = []
for organism in organisms:
    for pathway, enzyme_list in enzyme_dict.items():
        for enzyme in enzyme_list:
            query = enzyme + ' ' + organism
            geneid, organism_name, start_pos, end_pos = parse_gene_fields(query)
            sequence = parse_sequence(enzyme, organism, int(start_pos), int(end_pos))

            gene_entry = (enzyme, int(geneid), organism_name, int(start_pos), int(end_pos), str(sequence))
            gene_entries.append(gene_entry)

In [6]:
# Build gene table
conn = sqlite3.connect('genes.db')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE IF NOT EXISTS genes (name TEXT,
                                               id INT,
                                               organism TEXT,
                                               start INT,
                                               end INT,
                                               sequence TEXT);''')

# Insert rows
for gene_entry in gene_entries:
    # Insert entry into gene table # INSERT OR REPLACE INTO genes
    c.execute('''INSERT INTO genes (name, id, organism, start, end, sequence)
                 VALUES (?, ?, ?, ?, ?, ?)''', gene_entry)

# View table
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = c.fetchall()
for table in tables:
    table_name = table[0]
    contents = pd.read_sql_query("SELECT * from %s" % table_name, conn)
    print(contents[:][1:])   # ignore index
    contents.to_csv(table_name + '.csv', index=False)    # convert to csv

conn.commit()
conn.close()

                                             name        id  \
1                              aldose 1-epimerase    944943
2                             phosphofructokinase    948412
3                       phosphopyruvate hydratase   8156768
4                         succinate dehydrogenase    945402
5                                       aconitase    946724
6   dihydrolipoyllysine-residue acetyltransferase   7396899
7                                citrate synthase    945323
8                   glucose-6-phosphate isomerase  13700005
9                                   transketolase    947420
10                           malate dehydrogenase    947854
11                        phosphogluconolactonase    946398
12                             phosphoglucomutase     44010
13                             aldose 1-epimerase     40406
14                            phosphofructokinase     36060
15                      phosphopyruvate hydratase     33351
16                        succinate dehydrogenase     37228
17                                      aconitase     44149
18  dihydrolipoyllysine-residue acetyltransferase     34021
19                               citrate synthase     31579
20                  glucose-6-phosphate isomerase     35886
21                                  transketolase     41027
22                           malate dehydrogenase     47173
23                        phosphogluconolactonase     33783
24                             phosphoglucomutase      5236
25                             aldose 1-epimerase    130589
26                            phosphofructokinase      7157
27                      phosphopyruvate hydratase      2023
28                        succinate dehydrogenase      6390
29                                      aconitase        48
30  dihydrolipoyllysine-residue acetyltransferase      1629
31                               citrate synthase       348
32                  glucose-6-phosphate isomerase      2821
33                                  transketolase      7086
34                           malate dehydrogenase     26227
35                        phosphogluconolactonase      9563

                                     organism      start        end  \
1   Escherichia coli str. K-12 substr. MG1655     787796     788836
2   Escherichia coli str. K-12 substr. MG1655    4107551    4108513
3   Escherichia coli 'BL21-Gold(DE3)pLysS AG'     999373    1000671
4   Escherichia coli str. K-12 substr. MG1655     755906     757672
5   Escherichia coli str. K-12 substr. MG1655    1335830    1338505
6                       Escherichia coli LF82     130679     132571
7   Escherichia coli str. K-12 substr. MG1655     753184     754467
8    Escherichia coli O104:H4 str. 2011C-3493    4904188    4905837
9   Escherichia coli str. K-12 substr. MG1655    3079643    3081634
10  Escherichia coli str. K-12 substr. MG1655    3383329    3384267
11  Escherichia coli str. K-12 substr. MG1655     798585     799580
12                    Drosophila melanogaster   16126017   16128530
13                    Drosophila melanogaster   21636946   21639059
14                    Drosophila melanogaster   10109739   10117456
15                    Drosophila melanogaster    1724767    1729635
16                    Drosophila melanogaster   19391862   19395970
17                    Drosophila melanogaster   21168569   21173184
18                    Drosophila melanogaster    7426865    7430328
19                    Drosophila melanogaster    6350628    6361322
20                    Drosophila melanogaster    8910899    8914068
21                    Drosophila melanogaster    8667867    8673701
22                    Drosophila melanogaster   12713102   12722441
23                    Drosophila melanogaster    5547085    5549613
24                               Homo sapiens   63593275   63660244
25                               Homo sapiens   38665909   38734766
26                               Homo sapiens    7668401    7687549
27                               Homo sapiens    8861001    8878685
28                               Homo sapiens   17018721   17054169
29                               Homo sapiens   32384602   32450835
30                               Homo sapiens  100186921  100249863
31                               Homo sapiens   44905748   44909394
32                               Homo sapiens   34353329   34402412
33                               Homo sapiens   53224706   53256113
34                               Homo sapiens  119711795  119744225
35                               Homo sapiens    9234766    9271336

                                             sequence
1   TGTCGCCATTGTGCGTATCGAGCAACTCTACCCGTTCCCGCATAAA...
2   TGGCGGCATAGTTTCATACTGCATCACCCATTCAATCTTATTCAGA...
3   AGGCTCTTCGGCGTTTTGAGGCGATGGTGGAAGAAGTTGCCCGCCA...
4   GAAGGTTTGCGGAACTATCTAAAACGTTGCAGACAAAGGACAAAGC...
5   GGGTGCCGCCAGAGGCCATGCTGGATGGCGTGAGGCGTTACGCAAG...
6   CGGTGTGGGAGTCGCCGCAGACGATGGTCATGCCCGGCAGGGTGAC...
7   GGCACAGCTTACATTTACAACAGCAAGGCCACTTGAACACTGGGAC...
8   AGGTGCCTGGTAGATAAAGGGTTTGTTTGACATAGCTTCCAGCCTG...
9   GAAATAGCGCTTTGCTGAATGTTCCGGCATAAATTACCCGCTGCGG...
10  ACCGGTCGTTTCGTTATCGGTGGCCCGATGGGTGACTGCGGTCTGA...
11  ACGTACTGCTGGTGCTGTTGCTGATCTTTATGGCGACAGCGCCCAT...
12
13  CCGTTTCAAGGGGAAGGAACGACACCGAGACGCGCCGAGATGTCGA...
14
15  CAGTAACTTTTATACTTTTTATTTCACATCAACTAACAAATCTGAA...
16
17  AATTTTGGCGGGAAACAAGCCGGCGGAACATTGCTGACGCGTATGC...
18  GGAGAATCTCCTTTCAAAACACTGTGATACCTCTGTCAAACATTTC...
19  AATAAATTTTTGTATCCTACATCACTAGCTTTCACATTCCCAAAAA...
20  ACATCGAATTCATAAATTTTTATTTACGGTTTTAAACTACGTGCAA...
21  TAAAAATCAAGTTGTGCTTTTGGTTTTAGGCCAACAAAAGTCTATA...
22
23  ACGCGAGAGATGCGGTTAAAGTTCGTTCAACTGGCAAATGCAGTGA...
24  CTATACTAAGATTTCAAATCAAGTTCATATTAAGACAGCACACCTC...
25  TAATTTAGTGGCGTATGAAACATAGTAGGCTCTCAAGTGTTTGCTA...
26  GTATCATCTTTGTTTCAAAGTTAAACAATAAACTAAGTTCCTCTCA...
27  TTCTCATGGGTCACTGAGGCTTTTTATTTTGAGCACAAAACCACCG...
28  NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
29
30  TTGAAACATCCTGTCATTTAAACAGGGAGTTTGCATGTAGGGGATC...
31
32  GAAAACGTNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...
33
34  TTACTTCTCCACCAAGAACTCTAGCCAGTAAGAAAATCGTTAGTGA...
35  AACCAACCAATAGAAAAATGTAACAGATGTTCAATAAATATCTGTT...

In [7]:
# Build pathway table
conn = sqlite3.connect('pathways.db')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE IF NOT EXISTS pathways (name TEXT,
                                                  description TEXT);''')

# Insert rows
c.execute('''INSERT INTO pathways (name, description)
             VALUES ('glycolysis', 'Glycolysis is the metabolic pathway that converts glucose into pyruvate. The free energy released in this process is used to form the high-energy molecules ATP and NADH. Glycolysis is a sequence of ten enzyme-catalyzed reactions');''')
c.execute('''INSERT INTO pathways (name, description)
             VALUES ('citric acid cycle', 'The citric acid cycle – also known as the tricarboxylic acid cycle (TCA) or the Krebs cycle – is a series of chemical reactions used by all aerobic organisms to release stored energy through the oxidation of acetyl-CoA derived from carbohydrates, fats, and proteins into ATP and carbon dioxide.');''')
c.execute('''INSERT INTO pathways (name, description)
             VALUES ('pentose phosphate pathway', 'The pentose phosphate pathway is a metabolic pathway parallel to glycolysis. It generates NADPH and pentoses as well as ribose 5-phosphate, the last one a precursor for the synthesis of nucleotides. While it does involve oxidation of glucose, its primary role is anabolic rather than catabolic.');''')

# View table
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = c.fetchall()
for table in tables:
    table_name = table[0]
    contents = pd.read_sql_query("SELECT * from %s" % table_name, conn)
    print(contents)
    contents.to_csv(table_name + '.csv', index=False)    # convert to csv

conn.commit()
conn.close()

                        name  \
0                 glycolysis
1          citric acid cycle
2  pentose phosphate pathway

                                         description
0  Glycolysis is the metabolic pathway that conve...
1  The citric acid cycle – also known as the tric...
2  The pentose phosphate pathway is a metabolic p...

In [8]:
# Build enzyme table
conn = sqlite3.connect('enzymes.db')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE IF NOT EXISTS enzymes (name TEXT,
                                                 pathway TEXT,
                                                 EC_num TEXT);''')

# Insert rows
for pathway, enzyme_list in enzyme_dict.items():
    for enzyme in enzyme_list:
        enzyme_entry = [enzyme, pathway]
        if 'phosphoglucomutase' in enzyme:
            enzyme_entry.append('5.4.2.2')
        elif 'aldose 1-epimerase' in enzyme:
            enzyme_entry.append('5.1.3.3')
        elif 'phosphofructokinase' in enzyme:
            enzyme_entry.append('2.7.1.11')
        elif 'phosphopyruvate hydratase' in enzyme:
            enzyme_entry.append('4.2.1.11')
        elif 'succinate dehydrogenase' in enzyme:
            enzyme_entry.append('1.2.1.16')
        elif 'aconitase' in enzyme:
            enzyme_entry.append('4.2.1.3')
        elif 'dihydrolipoyllysine-residue acetyltransferase' in enzyme:
            enzyme_entry.append('1.2.4.2')
        elif 'citrate synthase' in enzyme:
            enzyme_entry.append('2.3.3.1')
        elif 'glucose-6-phosphate isomerase' in enzyme:
            enzyme_entry.append('5.3.1.9')
        elif 'transketolase' in enzyme:
            enzyme_entry.append('2.2.1.1')
        elif 'malate dehydrogenase' in enzyme:
            enzyme_entry.append('1.1.1.37')
        elif 'phosphogluconolactonase' in enzyme:
            enzyme_entry.append('3.1.1.31')

        c.execute('''INSERT INTO enzymes (name, pathway, EC_num)
                     VALUES (?, ?, ?)''', tuple(enzyme_entry))
    
# View table
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = c.fetchall()
for table in tables:
    table_name = table[0]
    contents = pd.read_sql_query("SELECT * from %s" % table_name, conn)
    print(contents[:][1:])   # ignore index
    contents.to_csv(table_name + '.csv', index=False)    # convert to csv

conn.commit()
conn.close()

                                             name                   pathway  \
1                              aldose 1-epimerase                glycolysis
2                             phosphofructokinase                glycolysis
3                       phosphopyruvate hydratase                glycolysis
4                         succinate dehydrogenase         citric acid cycle
5                                       aconitase         citric acid cycle
6   dihydrolipoyllysine-residue acetyltransferase         citric acid cycle
7                                citrate synthase         citric acid cycle
8                   glucose-6-phosphate isomerase  pentose phophate pathway
9                                   transketolase  pentose phophate pathway
10                           malate dehydrogenase  pentose phophate pathway
11                        phosphogluconolactonase  pentose phophate pathway

      EC_num
1    5.1.3.3
2   2.7.1.11
3   4.2.1.11
4   1.2.1.16
5    4.2.1.3
6    1.2.4.2
7    2.3.3.1
8    5.3.1.9
9    2.2.1.1
10  1.1.1.37
11  3.1.1.31